/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* visibility of watchlist in watchlist tab of authors page*/
.progression-studios-isotope-animation{opacity:1;}
/* visibility of comments in comments tab of authors page*/
h3.progresison-studios-no-author-posts-list {
	padding:10px 0px;
	font-size:20px;
	font-weight:300;
	color: white;
}
/* side by side display of registration form and login form*/
.woocommerce .col2-set#customer_login {
	display: inline-flex;
}
/* visibility of registration form*/
.woocommerce .col2-set#customer_login .col-2{
	display: block !important;
}
/* change  the input text color of the input fields of login and registraion forms*/
body #content-pro .width-container-pro .woocommerce .col2-set#customer_login input[type=text], body #content-pro .width-container-pro .woocommerce .col2-set#customer_login input[type=email],
body #content-pro .width-container-pro .woocommerce .col2-set#customer_login input[type=password] {
	color: #000 !important;
}
/* changed the color and alignment of table data in all tabs of my acccount page for logged in user*/
body #content-pro .woocommerce .woocommerce-MyAccount-content table.shop_table  tr th,
body #content-pro .woocommerce .woocommerce-MyAccount-content table.shop_table  tr td {
	color: #ffffff !important;
	text-align: center !important;
}

/*View membership tab in my account page for logged in user*/
body #content-pro .woocommerce .woocommerce-MyAccount-content table.shop_table  tr.membership td.membership-actions a.button.view-subscription,
body #content-pro .woocommerce .woocommerce-MyAccount-content table.shop_table  tr.membership td.membership-actions a.button.view,
body #content-pro .woocommerce .woocommerce-MyAccount-content table.shop_table  tr.membership td.membership-actions a.button.cancel{
	width: 90%;
	height: 100%;
	white-space: pre-wrap;
	padding: 16px;
}

/*View membership tab in my account page for logged in user*/
body #content-pro .woocommerce .woocommerce-MyAccount-content table.shop_table  tr.membership td.membership-actions a.button.view {
	margin: 5px;
}

/* My Account form padding*/
body .woocommerce .woocommerce-MyAccount-content {
   padding: 2% 2% 2% 2% !important;
}

/*product price in checkout page*/
.subscription-price {
	color: #000000;
	font-weight: bold;
	display: flex;
}

/*product price in checkout page*/
.woocommerce-checkout-review-order-table .woocommerce-Price-amount {
	display: flex;
	gap: 5px;
}


/*Disply the fields in order details table of thank you page*/
body #content-pro .woocommerce .woocommerce-order table.shop_table tr th,
body #content-pro .woocommerce .woocommerce-order table.shop_table tr td {
	color: #ffffff !important;
	text-align: center !important;
}


/*Login Form remember me checkbox alignment*/
body #content-pro .width-container-pro form.woocommerce-form-login p.form-row:nth-child(3){
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

/*Product counter in product single page*/
.entry-summary form.cart .quantity input.qty{
	color: #000000;
}

/*my account form margin*/
@media only screen and (min-width: 768px) {
   .woocommerce-EditAccountForm {
      margin-top: 25px;
      margin-bottom: 25px;
   }
}

body #content-pro .width-container-pro .woocommerce .col2-set#customer_login #dropdown_state input[type="text"] {
	width: 100%;
	background-color: #ffffff;
}

.wdm-custom-registration-fields {
	border-radius: 5px;
    color: #000000;
	border: 1px solid #aaa;
}
#afreg_additional_18512{
	font-weight: 400;
}

/* uopload picture form */
.wpua-edit .wpua-edit-container h3 {
	color: #ffffff;
}
form.wpua-edit {
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

/* Update Profile button of [avatar_upload] shortcode */
form.wpua-edit p.submit input {
	background-color: #f3e5e0;
	color: #1A1B1D;
	padding: 16px 35px;
	border-radius: 60px;
}

form.wpua-edit p.submit input:hover {
	background-color: #7B4B56;
	color: #FFFFFF;
}

/* Update profile text in my profile tab*/
.post-14059 div.success {
	text-align: end;
}

/*Billing Adress and Shipping Addres heading in myaccount page*/
.woocommerce .woocommerce-MyAccount-content h3{
	color: #FFFFFF;
}

/*My subscription table buttons*/
.woocommerce .woocommerce-MyAccount-content table.subscription_details tbody  tr:last-child td:last-child a{
	margin-bottom: 5px;
}

/*Edit account details save changes button in my account page*/
.woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm p:last-child {
	margin-top: 10px;
}

/*All forms margin in my account page*/
@media only screen and (min-width: 768px){
	.woocommerce .woocommerce-MyAccount-content form {
    	margin: 25px;
	}
}